@font-face {
	font-family: 'SackersGothicStd-Medium';
		src: url('../fonts/SackersGothicStd-Medium.eot');
		src: url('../fonts/SackersGothicStd-Medium.eot?#iefix') format('embedded-opentype'),
			url('../fonts/SackersGothicStd-Medium.woff') format('woff'),
			url('../fonts/SackersGothicStd-Medium.ttf') format('truetype'),
			url('../fonts/SackersGothicStd-Medium.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
@media screen and (-webkit-min-device-pixel-ratio:0) {
@font-face {
	font-family: 'SackersGothicStd-Medium';
	src: url('../fonts/SackersGothicStd-Medium.svg') format('svg');}
}
@font-face {
	font-family: 'ChaparralPro-Italic';
		src: url('../fonts/ChaparralPro-Italic.eot');
		src: url('../fonts/ChaparralPro-Italic.eot?#iefix') format('embedded-opentype'),
			url('../fonts/ChaparralPro-Italic.woff') format('woff'),
			url('../fonts/ChaparralPro-Italic.ttf') format('truetype'),
			url('../fonts/ChaparralPro-Italic.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
@media screen and (-webkit-min-device-pixel-ratio:0) {
@font-face {
	font-family: 'ChaparralPro-Italic';
	src: url('../fonts/ChaparralPro-Italic.svg') format('svg');}
}
@font-face {
	font-family: 'alex_brushregular';
		src: url('../fonts/alexbrush-regular-otf-webfont.eot');
		src: url('../fonts/alexbrush-regular-otf-webfont.eot?#iefix') format('embedded-opentype'),
			url('../fonts/alexbrush-regular-otf-webfont.woff') format('woff'),
			url('../fonts/alexbrush-regular-otf-webfont.ttf') format('truetype'),
			url('../fonts/alexbrush-regular-otf-webfont.svg#alex_brushregular') format('svg');
	font-weight: normal;
	font-style: normal;
}
@media screen and (-webkit-min-device-pixel-ratio:0) {
@font-face {
	font-family: 'alex_brushregular';
	src: url('../fonts/alexbrush-regular-otf-webfont.svg#alex_brushregular') format('svg');}
}
body{
	margin:0;
	color:#ab8745;
	font:15px/27px Georgia, serif;
	min-width:1000px;
	background:#f3f2ef;
}
img{border-style:none;}
input,
textarea,
select{
	color:#000;
	vertical-align:middle;
	font:100% Arial, Helvetica, sans-serif;
}
form,fieldset{
	margin:0;
	padding:0;
	border-style:none;
}
blockquote, q{quotes: none;}
q:before,
q:after {content: '';}
a{
	color:#000;
	text-decoration:none;
}
a:hover{text-decoration:underline;}
a:focus,
input:focus,
textarea:focus,
select:focus{outline:none;}
.wrapper {
	overflow:hidden;
	width:100%;
	position:relative;
}
/*booking-form*/
.panel-top{
	width:100%;
	background:#252525;
	position:relative;
}
.panel-top .holder {
	width:960px;
	margin:0 auto;
	font:13px/20px 'SackersGothicStd-Medium', sans-serif;
	color:#b9985c;
	padding-bottom:35px;
}
.panel-top .holder:after{	clear:both;	content:'';	display:block;}
.booking-form  {
	margin:0 -22px;
	overflow:hidden;
}
.booking-form .panel {
	overflow:hidden;
	padding:27px 0 15px;
}
.booking-form  .help{
	float:right;
	color:#9c7c3f;
	font:italic 16px/20px Georgia, serif;
	text-transform:none;
}
.booking-form  .help a {color:#9c7c3f;}
.booking-form  span {
	color:#fff;
	font:12px/18px 'SackersGothicStd-Medium', sans-serif;
	letter-spacing:1px;
	text-transform:uppercase;
}
.booking-form .row {
	overflow:hidden;
	border: solid #3b3b3b;
	border-width: 1px 0;
	padding:11px 0;
}
.booking-form .row .col {
	float:left;
	padding-right:22px;
}
.booking-form .row  label {
	float:left;
	text-transform:uppercase;
	margin:9px 14px 0 0;
}
.booking-form .phone {
	float:left;
	border:1px solid #9d7d40;
	color:#ab8745;
	font:20px/25px 'ChaparralPro-Italic', serif;
	width:149px;
	padding:5px 0 1px 8px;
	margin:-1px 0 0;
	height:28px;
}
.booking-form .phone span {
	color:#ab8745;
	float:left;
	font:20px/25px 'ChaparralPro-Italic', serif;
}
.booking-form .phone .txt {
	float:left;
	background:none;
	border:0;
	color:#ab8745;
	font:20px/25px 'ChaparralPro-Italic', serif;
	width:30px;
	padding:0;
	height:25px;
}
.booking-form .phone .code {
	float:left;
	width:50px;
}
.booking-form .phone .code .txt {
	width:33px;
	float:left;
}
.booking-form .phone .number {
	width:55px;
	float:left;
}
.booking-form .btn {
	float:right;
	margin:-1px 0 0;
	padding:0;
	border:0;
	background:url(../images/bg-btn.png) repeat-x;
	width:154px;
	text-align:center;
	cursor:pointer;
	color:#fff;
	font:11px/17px 'SackersGothicStd-Medium', sans-serif;
	text-transform:uppercase;
	height:35px;
}
.booking-form .btn:hover {
	background-position: 0 -35px;
	color:#252525;
}
.booking-form select {width:125px;}
.booking-form .party .sel {width:79px;}
/*header*/
#header {
	width:100%;
	background:url(../images/bg-header.gif) repeat-x 0 62px;
	position:relative;
	z-index:10;
}
#header .holder {
	width:960px;
	margin:0 auto;
	position:relative;
}
#header .holder:after{	clear:both;	content:'';	display:block;}
#header .logo {
	float:left;
	text-indent:-9999px;
	background:url(../images/logo.png) no-repeat;
	width:278px;
	height:157px;
	margin:0 23px 0 -13px;
	position:relative;
	z-index:5;
}
#header .logo a {
	display:block;
	height:100%;
}
.open-close {
	position:absolute;
	top:0;
	right:0;
	width:224px;
	background:url(../images/bg-open-close.png) repeat-x;
	color:#fff;
	font:10px/21px 'SackersGothicStd-Medium', sans-serif;
	padding:10px 0 9px;
	letter-spacing:1px;
}
.open-close:hover {text-decoration:none;}
.open-close span {
	background:url(../images/ico-01.png) no-repeat 100% 0;
	margin-left:23px;
	width:167px;
	float:left;
	padding:0 21px 5px 0;
	cursor:pointer;
}
/*main-nav*/
.main-nav  {
	margin:63px 0 0;	padding:0;	list-style:none;
	float:left;
}
.main-nav li {
	float:left;
	font:12px/21px 'SackersGothicStd-Medium', sans-serif;
	text-transform:uppercase;
	background:url(../images/ico-02.png) no-repeat 0 18px;
	padding-left:20px;
	position:relative;
	margin:-4px 5px 0 5px;
}
.main-nav  li:first-child {
	background:none;
	padding-left:0;
}
.main-nav li > a {
	color:#3b3b3b;
	display:block;
	padding:17px 16px 10px;
	letter-spacing:3px;
	margin:0 0 0 6px;
}
.main-nav > li >a:hover,
.main-nav > .active > a,
.main-nav > li:hover > a{
	color:#fff;
	text-decoration:none;
	background:#252525;
}
.main-nav .drop {
	position:absolute;
	left:6px;
	top:48px;
	width:565px;
	background:url(../images/bg-drop.gif) repeat-y;
	border-bottom:1px solid #b0b0b0;
	padding-bottom:9px;
	-webkit-box-shadow:2px 2px 5px #e0dfdc;	-moz-box-shadow:2px 2px 5px #e0dfdc;	box-shadow:2px 2px 5px #e0dfdc;
	display:none;
}
.main-nav li:hover .drop {
	display:block;
}
.main-nav .drop ul {
	padding:0;
	float:left;
	text-align:center;
	width:188px;
	margin:0;	list-style:none;
}
.main-nav .drop ul li {
	margin:0;
	background:none;
	padding:0;
	float:none;
	vertical-align:top;
	padding-bottom:12px;
}
.main-nav .drop .top {
	background:#f0ece1;
	color:#3b3b3b;
	font:12px/14px 'SackersGothicStd-Medium', sans-serif;
	letter-spacing:3px;
	padding:26px 0 27px;
	margin:0 0 21px 1px;
	width:187px;
}
.main-nav .drop ul a {
	color:#96743a;
	font:14px/19px Georgia, serif;
	padding:0;
	display:inline;
}
.main-nav .drop ul a:hover,
.main-nav .drop ul li:hover a{
	background:none;
	color:#96743a;
}
.main-nav .drop ul a:hover {text-decoration:underline;}
/*main*/
.home-page #main {
	background:url(../images/bg-main.jpg) no-repeat 50% 100% #f3f2ef;
	position:relative;
	padding-bottom:55px;
}
#main {
	background:url(../images/bg-main-01.gif) no-repeat 50% 168px #f3f2ef;
	position:relative;
	width:100%;
}
#main .plate {
	position:absolute;
	right:0;
	bottom:-66px;
	vertical-align:top;
}
#main .holder {
	width:960px;
	margin:0 auto;
	padding:24px 0 0;
	position:relative;
	z-index:2;
}
#main .holder .txt-area {
	font:28px/47px Georgia, serif;
	color:#ab8745;
	width:500px;
	padding-bottom:90px;
}
#main .holder .txt-area p {margin:0;}
#main .chooce {
	font:17px/32px Georgia, serif;
	color:#000;
	width:423px;
	text-align:center;
}
#main .chooce h2 {
	font:36px/40px 'alex_brushregular', sans-serif;
	color:#3b3b3b;
	margin:0 0 19px;
}
#main .chooce p {margin:0 0 27px;}
#main .chooce .menu {
	overflow:hidden;
	background:url(../images/bg-menu.gif) no-repeat;
	width:167px;
	height:35px;
	display:block;
	color:#252525;
	text-transform:uppercase;
	font:12px/15px 'SackersGothicStd-Medium', sans-serif;
	padding:22px 13px 0 14px;
	margin:0 auto;
}
#main .chooce .menu:hover {text-decoration:none;}
#main .chooce .menu span {
	float:right;
	cursor:pointer;
}
#main .chooce .menu span:first-child {float:left;}
/*blocl-content*/
.block-content {
	width:616px;
	margin:-13px auto 0;
	text-align:center;
}
#main h1 {
	margin:0 0 13px;
	font:60px/62px 'alex_brushregular', sans-serif;
	color:#000;
	text-align:center;
}
/*sub-nav*/
.sub-holder {
	width:100%;
	position:relative;
	overflow:hidden;
	border: solid #979695;
	border-width: 1px 0;
	padding:2px 0 1px;
	margin:0 0 42px 7px;
}
#main .sub-nav {
	margin:0;	padding:0;	list-style:none;	float:left;
	left:50%;
	position:relative;
}
#main .sub-nav li {
	float:left;
	left:-50%;
	position:relative;
	font:13px/39px Georgia, serif;
	text-transform:uppercase;
	letter-spacing:3px;
	margin:0 25px;
}
#main .sub-nav li  a {
	color:#906d34;
	display:block;
}
#main .sub-nav li a:hover,
#main .sub-nav .active a {
	color:#000;
	text-decoration:none;
	background:url(../images/bull-01.png) no-repeat 50% 84%;
}
#main .boxes {
	overflow:hidden;
	width:310px;
	margin:0 auto;
	color:#231f20;
	font:13px/21px 'SackersGothicStd-Medium', sans-serif;
	padding-bottom:44px;
}
#main .boxes span {display:block;}
#main .box {
	overflow:hidden;
	padding-bottom:30px;
}
.w1 {background:#252525;}
/*cols*/
.cols {
	width:960px;
	margin:0 auto;
	overflow:hidden;
	padding:54px 0 50px;
	position:relative;
	z-index:20;
}
.cols .col {
	float:left;
	width:272px;
	margin:0 0 0 60px;
}
.cols .col:first-child {margin-left:3px;}
.cols .col h3 {
	margin:0 0 14px;
	color:#9e7d41;
	font:13px/29px 'SackersGothicStd-Medium', sans-serif;
	border-bottom:1px solid #9e7d41;
	letter-spacing:1px;
	padding-bottom:10px;
	text-transform:uppercase;
}
.cols .col address {
	color:#ab8745;
	font:23px/39px Georgia, serif;
	padding-bottom:29px;
	margin-top:-3px;
}
.cols .col address span {display:block;}
.cols .col .map {
	display:block;
	background:url(../images/bg-map.gif) repeat-x;
	width:152px;
	text-align:center;
	color:#fff;
	font:11px/39px 'SackersGothicStd-Medium', sans-serif;
	text-transform:uppercase;
	height:40px;
}
.cols .col .map:hover {
	text-decoration:none;
	color:#252525;
	background-position: 0 -40px;
}
.cols p {margin:0;}
/*footer*/
#footer {
	background:#000;
	width:100%;
}
#footer .holder {
	width:960px;
	margin:0 auto;
	padding:34px 0 21px;
	height:58px;
}
#footer .holder:after{	clear:both;	content:'';	display:block;}
#footer .holder img {
	vertical-align:top;
	float:right;
	margin:-2px 33px 0 10px;
}
#footer ul {
	margin:0 0 0 -9999px;	padding:9px 0 16px 9999px;	list-style:none;	background:url(../images/bg-footer-ul.gif) repeat-x;
	float:left;
	width:688px;
}
#footer ul li {
	display:inline-block;
	background:url(../images/ico-02.png) no-repeat 0 5px;
	padding-left:44px;
	font:12px/24px 'SackersGothicStd-Medium', sans-serif;
	letter-spacing:3px;
	margin-right:22px;
	text-transform:uppercase;
}
#footer ul li:first-child {
	background:none;
	padding-left:29px;
}
#footer ul li a {
	color:#b2b2b2;
	float:left;
}
#footer .frame {
	width:100%;
	background:#252525;
}
#footer .frame .copyright {
	width:960px;
	margin:0 auto;
	color:#838383;
	font:9px/27px 'SackersGothicStd-Medium', sans-serif;
	letter-spacing:1px;
	padding:5px 0 9px;
	text-transform:uppercase;
}
#footer .frame .copyright p {margin:0 0 0 27px;}