h1,
h2,
h3 {
	margin: 0 0 15px;
	font-weight: 900;
	text-transform: uppercase;
}

a {
	@include animate(color);

	text-decoration: none;
}

mark {
	background: transparent;
}

/* accessibility link styles */
.accessibility{
	position:absolute;
	left:-10000px;
	top:auto;
	width:1px;
	height:1px;
	overflow:hidden;
}

/* wrapper styles */
#wrapper {
	position: relative;
	overflow: hidden;
}

/* main container styles */
.container {
	@extend %clearfix;

	max-width: 964px;
	padding: 0 35px;
	margin: 0 auto;
	background: $white;
	box-shadow: 0px 0px 29px 0px rgba(0, 0, 0, 0.21);
}

/* main content styles */
#main {
	@extend %clearfix;

	padding: 20px 0 0;
}

.hero-section {
	font-family: $base-font-serif;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: 50% 0;
	min-height: 313px;
	margin: 0 0 25px;
}

.hero-block {
	text-align: center;
	z-index: 0;
	max-width: 415px;
}

.hero-title {
	display: block;
	padding: 57px 0 0 23px;
	font-size: 75px;
	line-height: 0.9;
	margin: 0 0 27px;
	letter-spacing: 1.3px;

	mark {
		font-size: 55px;
	}
}

/* btn styles */
.btn {
	@include animate(background font-weight color);
	
	position: relative;
	display: inline-block;
	padding: 10px 13px 8px 12px;
	text-transform: uppercase;
	background: $black;
	color: $white;
	font: 900 13px/ 1 $base-font-sans-serif;
	border: 2px solid $black;
	letter-spacing: 1.2px;


	&:hover {
		background: $white;
		color: $orange;
	}

	&.btn-location {
		padding: 15px 23px 12px 45px;
		margin: 0 0 15px 27px;

		&:hover {
			background: transparent;
			color: $black;
		}
	}

	i {
		position: absolute;
		top: 5px;
		left: 8px;
		font-size: 28px;
		color: $orange;
	}
}

/* content-block styles */
#content {
	float: left;
	width: 65%;
	margin: 0 0 50px;

	h1 {
		letter-spacing: 4px;
		margin: 0 0 2px;
	}

	h2 {
		text-transform: uppercase;
		letter-spacing: 2.3px;
		line-height: 1.4;
	}

	.col {
		.inner & {
			padding: 0 14px 0 0;
		}

		.title {
			display: block;
			font-size: 20px;
			letter-spacing: 0.9px;
			line-height: 1.35;
			margin: 0 0 38px;
			color: $orange;
		}

		.text-block {
			letter-spacing: 0.5px;
		}
	}
}

.two-cols {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	padding: 0 3px 0 0;

	.col {
		position: relative;
		width: 47%;

	}

	.col-title {
		display: block;
		text-align: center;
		font: 28px $base-font-serif;
		margin: 0 0 9px;
		font-weight: 600;
		letter-spacing: 1.6px;
	}

	.img-wrap {
		text-align: center;
		margin: 0 0 5px;
	}

	.text-block {
		letter-spacing: 0.5px;
		line-height: 1.6;
		padding: 0 0 44px;
	}

	.btn-holder {
		@include xcenter;

		text-align: center;
		width: 100%;
		bottom: 0;
	}
}

/* sidebar styles */
#sidebar {
	width: 34%;
	margin: 0 0 25px;
	float: right;
	padding: 0 0 0 27px;

	.inner & {
		padding: 0;

		.mail-form {
			padding: 17px 0 0;
		}
	}

	.form-holder {
		padding: 30px 16px 30px 25px;
	}

	.form-block {
		display: block;
		width: 100%;
		margin: 0 0 18px;
	}

	.form-title {
		font-size: 18px;
		letter-spacing: 1.5px;
		margin: 0 0 6px;
	}

	.form-info {
		font-size: 15px;
		line-height: 1;
		letter-spacing: 1.2px;
	}

	.input-holder {
		display: block;
		width: 100%;
		padding: 0;
	}

	input {
		width: 100%;
		margin: 0 0 18px;
	}

	.btn {
		margin: 0;
		padding: 11px 21px 9px 21px;
		width: auto;
	}
}

.hidden-label {
	position: absolute;
	left:-10000px;
	top: 0;
}

.sidebar-block {
	padding: 13px 20px 18px 20px;
	background: #faac43;

	h3 {
		margin: 0 0 8px;
		letter-spacing: -0.2px;
	}

	.img-wrap {
		margin: 0 -11px 0 -47px;
	}

	.text-block {
		letter-spacing: 0.5px;
		line-height: 1.45;

		p {
			margin: 0 0 19px
		}
	}

	.text-block-title {
		text-transform: uppercase;
		font-size: 14px;
		margin: 0 0 -3px;
		font-weight: 900;
	}

	.price {
		display: block;
		font-weight: 900;
		font-size: 24px;
		letter-spacing: 1px;
	}
}

/* form styles */
.mail-form {
	width: 100%;
	float: left;
}

.form-holder {
	padding: 15px 25px;
	margin: 0 0 30px;
	background: #e0e0e0;
	letter-spacing: -.4em;
}

.form-block {
	width: 40%;
	padding: 0 10px 0 0;
}

.form-title {
	display: block;
	font-weight: 900;
	font-size: 18px;
	text-transform: uppercase;
	letter-spacing: 1.5px;
	line-height: 1.4;
}

.form-info {
	font-size: 15px;
	letter-spacing: 1.3px;
}

.input-holder {
	width: 60%;
	padding: 0 0 0 11px;

	input {
		width: 83%;
		height: 37px;
		font-size: 17px;
		padding: 0 16px 0 16px;
		letter-spacing: 1.2px;
		border: 2px solid #bababa;
		color: #bababa;
		display: inline-block;
		vertical-align: top;
		outline: none;
	}

	.btn {
		display: inline-block;
		vertical-align: top;
		width: 17%;
		margin: 0 0 0 -4px;
		height: 37px;
		padding: 11px 13px 9px 12px;
	}
}

.form-block,
.input-holder {
	display: inline-block;
	vertical-align: middle;
	letter-spacing: normal;
}